## FINDING THE BEST LOCATION FOR A TUITION CENTRE IN MELBOURNE, AUSTRALIA

### INSTALL AND IMPORT PACKAGES

In [1]:
# Install required packages
!pip install geopy
!pip install folium

Requirement already satisfied: geopy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geopy) (1.50)
Collecting folium
  Downloading folium-0.12.1-py2.py3-none-any.whl (94 kB)
     |████████████████████████████████| 94 kB 3.3 MB/s eta 0:00:011
Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (1.18.5)
Collecting branca>=0.3.0
  Downloading branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.24.0)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.11.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2.9)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1

In [2]:
# Import required packages
import pandas as pd
import numpy as np
import types
from botocore.client import Config
import ibm_boto3
import io
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json
from geopy.geocoders import Nominatim
import matplotlib.cm as cm
import matplotlib.colors as colors
#from sklearn.cluster import KMeans
import folium
import requests
from project_lib import Project

### POSTCODE DATA WRANGLING

In [3]:
# The code was removed by Watson Studio for sharing.

,postcode,suburb,state,dc,type,lat,lon
0,200,AUSTRALIAN NATIONAL UNIVERSITY,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,BARTON,ACT,NaN,LVR,-35.201372,149.095065
2,800,DARWIN,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,DARWIN,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,PARAP,NT,PARAP,Post Office Boxes,-12.432181,130.843310

In [4]:
#Drop irrelevant columns
df_suburbdata = df_data_1
df_suburbdata = df_suburbdata.drop(['state', 'dc','type'], axis = 1)
df_suburbdata

#Keep only the rows corresponding to Metropolitan Melbourne
df_melbsuburbs = df_suburbdata.loc[((df_suburbdata['postcode'] >= 3000) & (df_suburbdata['postcode'] <= 3207))|((df_suburbdata['postcode'] >= 8000) & (df_suburbdata['postcode'] <= 8873))]
df_melbsuburbs = df_melbsuburbs.reset_index(drop=True)

#Preview the database to ensure it has been transformed as necessary
df_melbsuburbs.head()

   postcode          suburb        lat         lon
0      3000       MELBOURNE -37.814563  144.970267
1      3001       MELBOURNE -38.365017  144.765920
2      3002  EAST MELBOURNE -37.816640  144.987811
3      3003  WEST MELBOURNE -37.806255  144.941123
4      3004       MELBOURNE -37.837324  144.976335

In [5]:
#Check to see if any nulls exist in the dataset.
df_melbsuburbs.isnull().sum()

postcode    0
suburb      0
lat         0
lon         0
dtype: int64

In [6]:
#Check for duplicate postcodes
df_melbsuburbs[df_melbsuburbs['postcode'].duplicated(keep=False)].head()

    postcode       suburb        lat         lon
9       3011    FOOTSCRAY -37.799770  144.899587
10      3011       SEDDON -37.808769  144.895486
11      3011  SEDDON WEST -37.795059  144.866197
12      3012     BROOKLYN -37.814624  144.847108
13      3012   KINGSVILLE -37.812635  144.881803

In [7]:
#Group each suburb by unique postcode, creating a concatenated list of suburbs belonging to each postcode
df_aggsuburbs = df_melbsuburbs.groupby('postcode')['suburb'].apply(', '.join).to_frame()
df_aggsuburbs = df_aggsuburbs.reset_index()

#Average the latitude and longitude locations for each postcode
df_aveloc = df_melbsuburbs.groupby('postcode').mean()
df_aveloc = df_aveloc.reset_index()
df_melbpostcodes = pd.merge(df_aggsuburbs,df_aveloc)

#Preview the new table
df_melbpostcodes.head()

   postcode          suburb        lat         lon
0      3000       MELBOURNE -37.814563  144.970267
1      3001       MELBOURNE -38.365017  144.765920
2      3002  EAST MELBOURNE -37.816640  144.987811
3      3003  WEST MELBOURNE -37.806255  144.941123
4      3004       MELBOURNE -37.837324  144.976335

### SCHOOL ENROLMENT DATA WRANGLING

In [8]:
# The code was removed by Watson Studio for sharing.

,Row Labels,Prep,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Primary Ungraded,Year 7,Year 8,Year 9,Year 10,Year 11,Year 12,Secondary Ungraded,Special,Language,Grand Total
0,Abbotsford Primary School,24.0,27.0,28.0,27.0,18.0,8.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.0
1,Aberfeldie Primary School,48.0,61.0,52.0,62.0,67.0,59.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,398.0
2,Ainslie Parklands Primary School,14.0,19.0,20.0,14.0,26.0,24.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.0
3,Aireys Inlet Primary School,8.0,8.0,12.0,13.0,16.0,19.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
4,Airly Primary School,2.0,5.0,5.0,7.0,4.0,7.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0

In [9]:
#Keep only the necessary rows, rename columns appropriately and cast the float values column to integer
df_enrol = df_enrol[['Row Labels','Grand Total']]
df_enrol = df_enrol.rename(columns={"Row Labels": "school", "Grand Total": "enrolments"})
df_enrol.enrolments = df_enrol.enrolments.astype(int)
df_enrol.head()

                             school  enrolments
0         Abbotsford Primary School         144
1         Aberfeldie Primary School         398
2  Ainslie Parklands Primary School         147
3       Aireys Inlet Primary School          90
4              Airly Primary School          33

In [10]:
#Check for any null values
df_enrol.isnull().sum()

school        0
enrolments    0
dtype: int64

In [11]:
# The code was removed by Watson Studio for sharing.

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,Address_Postcode,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,3971,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,3277,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,3467,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,3664,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,3113,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [12]:
#Keep only school name and postcode data
df_schoolpostcodes = df_schoollocations[['School_Name', 'Postal_Postcode']]
df_schoolpostcodes = df_schoolpostcodes.rename(columns={"School_Name":"school","Postal_Postcode":"postcode"})
df_schoolpostcodes.reset_index(drop=True, inplace=True)
df_schoolpostcodes.head()

                                   school  postcode
0                 Alberton Primary School      3971
1  Allansford and District Primary School      3277
2                    Avoca Primary School      3467
3                   Avenel Primary School      3664
4               Warrandyte Primary School      3113

In [13]:
#Keep only postcode data in Metropolitan Melbourne
df_schoolpostcodes = df_schoolpostcodes.loc[((df_schoolpostcodes['postcode'] >= 3000) & (df_schoolpostcodes['postcode'] <= 3207))|((df_schoolpostcodes['postcode'] >= 8000) & (df_schoolpostcodes['postcode'] <= 8873))]
df_schoolpostcodes.head()

                          school  postcode
4      Warrandyte Primary School      3113
11     Cheltenham Primary School      3192
13  Newport Lakes Primary School      3015
23      Doncaster Primary School      3108
25         Eltham Primary School      3095

In [14]:
#Merge the postcodes and enrolment dataframes along the "school" column
df_schools = pd.merge(df_enrol, df_schoolpostcodes)
df_schools.head()

                             school  enrolments  postcode
0         Abbotsford Primary School         144      3067
1         Aberfeldie Primary School         398      3040
2  Ainslie Parklands Primary School         147      3136
3       Aitken Creek Primary School        1100      3064
4              Alamanda K-9 College        2897      3030

In [15]:
#Group the multiple schools in unique postcodes into total enrolments per postcode
df_enroltotals = df_schools.groupby(['postcode']).sum()
df_enroltotals = df_enroltotals.reset_index()
df_enroltotals.head()

   postcode  enrolments
0      3004        1044
1      3006         861
2      3011         501
3      3012        1952
4      3013        2217

In [16]:
#Perform outer join and fill any NaN values as 0
df_melbenrol = pd.merge(df_melbpostcodes,df_enroltotals,how='outer')
df_melbenrol['enrolments'].fillna(0, inplace=True)
df_melbenrol.enrolments = df_melbenrol.enrolments.astype(int)
df_melbenrol.head()

   postcode          suburb        lat         lon  enrolments
0      3000       MELBOURNE -37.814563  144.970267           0
1      3001       MELBOURNE -38.365017  144.765920           0
2      3002  EAST MELBOURNE -37.816640  144.987811           0
3      3003  WEST MELBOURNE -37.806255  144.941123           0
4      3004       MELBOURNE -37.837324  144.976335        1044

In [17]:
#Check for any null values in the new dataframe
df_melbenrol.isnull().sum()

postcode      0
suburb        1
lat           1
lon           1
enrolments    0
dtype: int64

In [18]:
#Check what the row is
df_melbenrol[df_melbenrol.isna().any(axis=1)]

     postcode suburb  lat  lon  enrolments
230      8008    NaN  NaN  NaN          58

In [19]:
#Dump the row because it's only 58 enrolments (negligible)
df_melbenrol = df_melbenrol.dropna()

### SOCIO-ECONOMIC DATA WRANGLING

In [20]:
# The code was removed by Watson Studio for sharing.

,POA,Postal Area Code,INDEX_TYPE,Index type,MEASURE,Measure,TIME,Time,Value,Flag Codes,Flags
0,800,800,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1072.0,NaN,NaN
1,810,810,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1037.0,NaN,NaN
2,812,812,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1019.0,NaN,NaN
3,820,820,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1076.0,NaN,NaN
4,822,822,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,702.0,NaN,NaN

In [22]:
#Check for duplicates of postcodes
df_data_2['Postal Area Code'].value_counts()

2047    40
2196    40
2452    40
2388    40
4375    40
2324    40
4311    40
6358    40
2260    40
4183    40
3797    40
6230    40
2132    40
4119    40
6166    40
2068    40
6102    40
4053    40
4503    40
2516    40
4567    40
2580    40
3284    40
5271    40
3220    40
7254    40
3156    40
7190    40
3028    40
5015    40
853     40
2900    40
4887    40
2836    40
4823    40
4695    40
2644    40
3925    40
3733    40
3540    40
4374    40
4630    40
2581    40
4566    40
2517    40
4502    40
2453    40
6423    40
2325    40
3669    40
6359    40
4310    40
2261    40
2197    40
2133    40
6167    40
4118    40
2645    40
4694    40
6743    40
2773    40
5654    40
3477    40
5462    40
3413    40
3285    40
5270    40
3221    40
7255    40
5142    40
3093    40
3029    40
5014    40
852     40
4886    40
4822    40
3412    40
3732    40
2641    40
3991    40
2198    40
2134    40
2070    40
4117    40
6164    40
4055    40
6100    40
6036    40
3223    40
3927    40
3799    40
3735    40
5652    40
5460    40
3351    40
3287    40
4309    40
2262    40
4373    40
2326    40
2902    40
4885    40
2774    40
4821    40
2710    40
4757    40
2646    40
6740    40
2582    40
2518    40
4565    40
6612    40
2454    40
4501    40
2390    40
5332    40
5268    40
3796    40
2199    40
2455    40
4500    40
6485    40
2327    40
6421    40
4372    40
2263    40
2135    40
3159    40
6229    40
2071    40
6165    40
4116    40
6103    40
3988    40
3860    40
4564    40
2519    40
2583    40
2647    40
7253    40
5204    40
3095    40
5140    40
3031    40
5076    40
5012    40
2903    40
854     40
2839    40
4884    40
2775    40
4820    40
2711    40
4756    40
2069    40
6033    40
3922    40
4883    40
3152    40
5139    40
7186    40
3088    40
5075    40
3024    40
5011    40
2832    40
6418    40
4819    40
2768    40
2640    40
4627    40
2576    40
4563    40
2448    40
7250    40
5203    40
3216    40
5267    40
6225    40
2067    40
6161    40
4112    40
6035    40
3984    40
3920    40
3856    40
3792    40
3728    40
3664    40
5523    40
3472    40
5331    40
3280    40
4371    40
2320    40
3858    40
3089    40
3281    40
7315    40
5266    40
3217    40
5202    40
3153    40
5138    40
5074    40
4307    40
3025    40
5010    40
4882    40
2833    40
4818    40
2769    40
4754    40
5330    40
3345    40
3409    40
5522    40
2256    40
6290    40
2192    40
4179    40
6226    40
2128    40
4115    40
6162    40
2064    40
2000    40
3921    40
3857    40
3793    40
5650    40
3537    40
2131    40
2195    40
4304    40
4561    40
2770    40
4817    40
2706    40
4753    40
2642    40
2578    40
4625    40
6608    40
6353    40
2450    40
4497    40
2386    40
2322    40
2258    40
4305    40
6352    40
4881    40
2834    40
2898    40
5009    40
3730    40
3666    40
5521    40
3282    40
3218    40
5265    40
3154    40
5201    40
7248    40
3090    40
5137    40
7184    40
3026    40
5073    40
7120    40
2194    40
6288    40
2130    40
5136    40
5072    40
5008    40
850     40
2835    40
4880    40
4816    40
2707    40
2643    40
2579    40
2515    40
6609    40
4560    40
4496    40
2323    40
2259    40
3027    40
3091    40
6224    40
7249    40
2066    40
4113    40
6160    40
4051    40
3987    40
6032    40
3923    40
3859    40
3795    40
3475    40
5520    40
3283    40
3219    40
5264    40
3155    40
5013    40
3030    40
5141    40
5470    40
3933    40
3869    40
3805    40
3741    40
3677    40
3549    40
3485    40
3357    40
3037    40
5342    40
3293    40
5278    40
7263    40
5214    40
3165    40
3101    40
4061    40
6110    40
2076    40
6174    40
2716    40
4703    40
2652    40
2588    40
4575    40
4511    40
6558    40
2460    40
2396    40
4383    40
6430    40
6302    40
2204    40
2140    40
4127    40
5086    40
5022    40
5081    40
3610    40
6175    40
2077    40
2011    40
6105    40
6041    40
3930    40
3802    40
3546    40
7007    40
3482    40
3418    40
5401    40
3226    40
7320    40
3162    40
7256    40
2141    40
6239    40
2205    40
6367    40
860     40
2845    40
4830    40
2717    40
6751    40
4702    40
2653    40
6623    40
4574    40
2525    40
4510    40
2397    40
6431    40
4382    40
2333    40
2780    40
2844    40
4895    40
5276    40
3807    40
5724    40
3551    40
3423    40
5340    40
3231    40
7325    40
3167    40
5023    40
7261    40
5212    40
3103    40
3039    40
5084    40
5020    40
2911    40
3871    40
6044    40
6108    40
6172    40
4829    40
4701    40
2590    40
2526    40
4573    40
6620    40
2462    40
4509    40
6556    40
2334    40
4381    40
2206    40
2142    40
6236    40
4125    40
862     40
7005    40
2847    40
4124    40
4060    40
3996    40
3804    40
3740    40
3612    40
3420    40
3356    40
5343    40
3292    40
5279    40
3228    40
7262    40
5151    40
5087    40
3036    40
6111    40
6173    40
2783    40
2079    40
4828    40
2655    40
4700    40
2527    40
4572    40
2463    40
4508    40
2399    40
2335    40
6429    40
4380    40
6365    40
2207    40
2143    40
6237    40
3034    40
5017    40
3094    40
6042    40
2264    40
2200    40
2136    40
4123    40
6170    40
2072    40
2008    40
3929    40
3161    40
3865    40
3737    40
5722    40
3673    40
3289    40
3225    40
7259    40
2328    40
6426    40
6490    40
2456    40
3160    40
3096    40
5083    40
3032    40
5019    40
2904    40
4891    40
2840    40
2776    40
2712    40
4699    40
2648    40
2584    40
4571    40
4507    40
5210    40
3097    40
2906    40
5461    40
6037    40
3926    40
3862    40
3670    40
3542    40
3478    40
3414    40
3350    40
5082    40
3286    40
5333    40
3222    40
5269    40
7316    40
3158    40
7252    40
6101    40
4054    40
2007    40
2073    40
3033    40
5018    40
2905    40
4890    40
2777    40
2713    40
2585    40
4570    40
4506    40
4378    40
2329    40
2265    40
2137    40
6171    40
4122    40
7258    40
5211    40
3224    40
5720    40
2010    40
6104    40
3995    40
3931    40
3803    40
3739    40
3675    40
3483    40
7322    40
3419    40
5464    40
3355    40
5400    40
3227    40
7321    40
5272    40
4059    40
6168    40
4121    40
2074    40
7000    40
2842    40
2778    40
4825    40
2714    40
2650    40
2586    40
4569    40
4505    40
6488    40
2330    40
4377    40
4313    40
2138    40
6232    40
3163    40
7257    40
3099    40
4184    40
6169    40
4120    40
6107    40
2009    40
6043    40
3992    40
3928    40
3864    40
5723    40
3672    40
3608    40
3544    40
3480    40
3352    40
5275    40
2075    40
6233    40
5144    40
2203    40
5016    40
2843    40
4888    40
2779    40
4824    40
2715    40
2651    40
2587    40
4568    40
4504    40
2395    40
6425    40
4376    40
2267    40
4312    40
2705    40
4626    40
4030    40
5255    40
3844    40
3588    40
5575    40
3460    40
3396    40
3332    40
3268    40
7302    40
2820    40
3204    40
3140    40
5127    40
3076    40
5063    40
3012    40
837     40
6023    40
4036    40
6149    40
4164    40
4740    40
2631    40
6725    40
4676    40
2567    40
4612    40
2439    40
4420    40
2311    40
6405    40
4356    40
6341    40
4228    40
2119    40
6213    40
4871    40
4807    40
2759    40
5254    40
3589    40
3525    40
5510    40
3461    40
3333    40
3269    40
7303    40
3205    40
2756    40
3141    40
5126    40
5062    40
3013    40
836     40
4870    40
2821    40
3717    40
3781    40
3909    40
6022    40
4743    40
6726    40
2628    40
4615    40
2564    40
4551    40
2500    40
4487    40
2372    40
4359    40
6214    40
2116    40
4103    40
6150    40
4037    40
4804    40
4868    40
2577    40
3206    40
3782    40
3590    40
5573    40
3462    40
3334    40
5381    40
3270    40
5253    40
4805    40
7300    40
3142    40
3078    40
5125    40
7172    40
5061    40
4869    40
3910    40
6021    40
4106    40
6155    40
2825    40
4810    40
2761    40
4746    40
2633    40
2569    40
6603    40
4554    40
2505    40
4490    40
2441    40
6475    40
4362    40
4170    40
2121    40
2758    40
4741    40
2823    40
3207    40
3719    40
5700    40
3591    40
3527    40
5572    40
3463    40
3335    40
7301    40
2630    40
5252    40
3143    40
3079    40
7173    40
3015    40
7109    40
838     40
3783    40
3847    40
3911    40
6020    40
4677    40
2566    40
4613    40
2502    40
6532    40
4421    40
6468    40
4357    40
4229    40
2118    40
4165    40
4101    40
6148    40
6084    40
3975    40
4806    40
2757    40
4742    40
4739    40
3136    40
7170    40
3072    40
3008    40
2880    40
4803    40
2752    40
6722    40
2176    40
4611    40
2560    40
6530    40
4419    40
4355    40
2304    40
6338    40
3200    40
5251    40
3264    40
3328    40
2179    40
4224    40
2115    40
6209    40
4160    40
6083    40
4032    40
6019    40
3904    40
3840    40
3712    40
3584    40
5571    40
3520    40
3392    40
4227    40
4163    40
4678    40
6403    40
4802    40
2753    40
4738    40
4674    40
2625    40
4610    40
2369    40
4354    40
6210    40
2305    40
6275    40
4226    40
2177    40
6211    40
2113    40
6147    40
832     40
3073    40
7171    40
3137    40
2112    40
2048    40
6082    40
6018    40
3777    40
3713    40
3649    40
3585    40
5570    40
3521    40
3393    40
3329    40
3265    40
5250    40
3201    40
6337    40
4352    40
6401    40
3266    40
3778    40
3714    40
3586    40
5633    40
3522    40
3458    40
3330    40
3202    40
2307    40
3138    40
3074    40
5121    40
835     40
4865    40
2754    40
4737    40
3842    40
6017    40
6081    40
4034    40
2629    40
4614    40
2565    40
4550    40
6535    40
4486    40
4422    40
6407    40
4358    40
6343    40
4230    40
6215    40
2117    40
6151    40
4102    40
2626    40
4673    40
6720    40
3523    40
5440    40
3331    40
3267    40
3139    40
3075    40
5120    40
3011    40
4800    40
2627    40
6721    40
2563    40
4608    40
4480    40
2371    40
4416    40
3395    40
3715    40
4481    40
3779    40
6528    40
2370    40
4417    40
2306    40
4353    40
6336    40
2178    40
4225    40
2114    40
4161    40
6208    40
2050    40
4035    40
3971    40
6016    40
4874    40
840     40
5066    40
5583    40
6031    40
3980    40
3916    40
3852    40
3788    40
3660    40
3596    40
3468    40
3020    40
3340    40
3276    40
5263    40
7310    40
3212    40
3148    40
7182    40
4108    40
6157    40
2063    40
4172    40
2575    40
4620    40
4556    40
2447    40
4492    40
6477    40
4428    40
2319    40
6413    40
4364    40
4300    40
2191    40
6285    40
2127    40
6221    40
3084    40
5007    40
3085    40
5582    40
2060    40
6030    40
3981    40
3789    40
3725    40
5710    40
3597    40
3533    40
7054    40
3469    40
5454    40
3341    40
3277    40
5262    40
3149    40
7183    40
6158    40
4111    40
6286    40
6350    40
845     40
4879    40
2828    40
4815    40
4751    40
6798    40
2700    40
2572    40
4559    40
6606    40
2508    40
2444    40
2380    40
2316    40
4303    40
2703    40
4812    40
2767    40
5133    40
5581    40
5453    40
3342    40
3278    40
3214    40
5261    40
3150    40
7180    40
4876    40
3022    40
5069    40
7116    40
7052    40
847     40
2830    40
4877    40
3662    40
3726    40
3854    40
3918    40
4562    40
4498    40
2449    40
4370    40
2321    40
6355    40
4306    40
2257    40
2193    40
6227    40
4178    40
6163    40
4114    40
2065    40
6029    40
2766    40
2702    40
2574    40
3791    40
3663    40
5580    40
3407    40
5452    40
3215    40
5260    40
3151    40
3087    40
5132    40
3023    40
7117    40
5068    40
7053    40
846     40
2831    40
3727    40
3919    40
4621    40
6028    40
4557    40
2446    40
2382    40
2318    40
4365    40
4301    40
6348    40
2190    40
6284    40
2126    40
4173    40
6220    40
2062    40
4109    40
6156    40
5134    40
5070    40
3081    40
6027    40
2315    40
6409    40
4360    40
2251    40
6281    40
6153    40
4104    40
3976    40
3144    40
3912    40
3720    40
3464    40
5451    40
3400    40
3272    40
5259    40
4424    40
4488    40
6537    40
2443    40
3147    40
3083    40
7177    40
3019    40
7113    40
5064    40
5000    40
2827    40
4872    40
2763    40
4808    40
4744    40
4680    40
2571    40
4552    40
7306    40
5131    40
3021    40
5642    40
6218    40
2120    40
4107    40
6154    40
6026    40
3977    40
3913    40
3465    40
7178    40
3401    40
3337    40
5322    40
3273    40
7307    40
3145    40
7179    40
4171    40
6282    40
6346    40
2312    40
5067    40
3016    40
7050    40
841     40
4875    40
2824    40
4811    40
2760    40
2632    40
2568    40
4555    40
2440    40
4427    40
4363    40
6410    40
5256    40
7305    40
3211    40
3722    40
6159    40
4110    40
2061    40
3978    40
6025    40
3850    40
3786    40
3658    40
5320    40
3594    40
5641    40
3530    40
5577    40
3338    40
3274    40
5321    40
2125    40
4174    40
2317    40
6415    40
7055    40
5006    40
4878    40
2829    40
4814    40
2765    40
6799    40
4750    40
2701    40
2573    40
4558    40
4494    40
2445    40
6479    40
2381    40
7304    40
3146    40
3082    40
2122    40
4105    40
6152    40
3979    40
6024    40
3915    40
3851    40
3787    40
3723    40
3659    40
3595    40
5640    40
3531    40
5576    40
3467    40
3275    40
4169    40
6280    40
7176    40
2250    40
3018    40
5065    40
7112    40
4873    40
2762    40
4809    40
4745    40
6728    40
2570    40
2506    40
4553    40
6536    40
4425    40
6472    40
4361    40
2782    40
2846    40
7004    40
5110    40
3381    40
3317    40
5302    40
5238    40
3189    40
5174    40
3125    40
3061    40
2485    40
5046    40
2869    40
820     40
4854    40
2805    40
4726    40
4662    40
3509    40
5558    40
3573    40
3637    40
2292    40
6326    40
2228    40
4215    40
6262    40
2164    40
4151    40
2100    40
2036    40
6070    40
4021    40
6006    40
3957    40
3765    40
3701    40
2549    40
6519    40
4343    40
5169    40
3442    40
3378    40
3314    40
3250    40
3186    40
5233    40
3122    40
7216    40
4470    40
3058    40
5041    40
7024    40
2866    40
4849    40
2738    40
4721    40
3570    40
3634    40
3698    40
3890    40
2421    40
4406    40
2357    40
6391    40
4342    40
2293    40
6327    40
2229    40
4214    40
2165    40
2101    40
2035    40
4018    40
6065    40
3954    40
6390    40
4407    40
5021    40
4852    40
3063    40
5108    40
5044    40
886     40
2871    40
822     40
2807    40
4724    40
4404    40
2615    40
4660    40
2551    40
2487    40
2423    40
6517    40
4468    40
5172    40
3127    40
5236    40
3191    40
2166    40
4213    40
6260    40
2102    40
2038    40
3959    40
6004    40
3895    40
3831    40
3767    40
3639    40
3575    40
5556    40
3447    40
3319    40
2359    40
2295    40
2420    40
4855    40
3188    40
3124    40
3060    40
5047    40
7030    40
885     40
2868    40
2804    40
4340    40
4727    40
6710    40
2612    40
6646    40
2548    40
2484    40
6518    40
5303    40
3380    40
5431    40
3444    40
2231    40
2167    40
4212    40
2103    40
2037    40
6071    40
4020    40
6007    40
3956    40
3892    40
3764    40
3700    40
3636    40
3572    40
5495    40
2546    40
6640    40
2482    40
3249    40
3697    40
3633    40
5554    40
3505    40
5490    40
3441    40
3377    40
5234    40
2865    40
3185    40
5170    40
3121    40
7155    40
3057    40
5042    40
7027    40
3761    40
3825    40
3889    40
3953    40
6514    40
4403    40
6450    40
2352    40
6386    40
4275    40
6322    40
2224    40
4211    40
6258    40
2160    40
2096    40
2032    40
6066    40
4017    40
880     40
4850    40
4465    40
3438    40
3950    40
3886    40
3822    40
3758    40
3694    40
3630    40
3566    40
5485    40
2737    40
3374    40
5421    40
7468    40
3310    40
5357    40
3182    40
7276    40
6061    40
4014    40
6125    40
4078    40
4722    40
6707    40
2609    40
2545    40
2481    40
6515    40
4402    40
2353    40
2289    40
6323    40
2225    40
4210    40
2161    40
2097    40
2031    40
2480    40
6642    40
4659    40
5232    40
3507    40
5552    40
3379    40
3315    40
5360    40
3251    40
3187    40
3123    40
2672    40
5168    40
3059    40
5040    40
7025    40
2867    40
2803    40
2739    40
3571    40
5680    40
3635    40
3699    40
2354    40
4401    40
6448    40
2290    40
2226    40
6320    40
2162    40
4209    40
6256    40
2034    40
4019    40
6064    40
6000    40
3891    40
3763    40
2675    40
4720    40
2611    40
3568    40
5491    40
3440    40
3312    40
5235    40
3184    40
5171    40
5107    40
3056    40
5043    40
7026    40
2864    40
2800    40
2736    40
4723    40
6770    40
5555    40
3760    40
6705    40
3824    40
2483    40
6513    40
2355    40
4400    40
2291    40
2227    40
6321    40
4272    40
2163    40
4208    40
2099    40
2033    40
6067    40
6003    40
3888    40
6324    40
2230    40
4341    40
6014    40
4287    40
4223    40
2172    40
4159    40
2108    40
2044    40
6078    40
3965    40
3197    40
3709    40
5630    40
3581    40
3517    40
5502    40
3453    40
5374    40
2300    40
6398    40
6462    40
4415    40
3260    40
3196    40
3132    40
3068    40
3004    40
829     40
2876    40
4799    40
2748    40
4735    40
4671    40
6718    40
2620    40
2556    40
2428    40
3325    40
3133    40
4857    40
5433    40
2043    40
6073    40
3962    40
6009    40
3898    40
3770    40
3450    40
3194    40
5118    40
5241    40
3130    40
3066    40
5113    40
3002    40
5049    40
2874    40
2109    40
4158    40
6207    40
2173    40
3005    40
2877    40
828     40
4798    40
2749    40
4670    40
2621    40
4606    40
2557    40
4478    40
2429    40
2365    40
4350    40
6335    40
6271    40
5311    40
3324    40
3388    40
4413    40
4733    40
2622    40
6716    40
2558    40
4605    40
2430    40
4477    40
6460    40
3516    40
2302    40
6396    40
4285    40
2174    40
4221    40
2110    40
4157    40
2750    40
4861    40
2878    40
3006    40
6077    40
3966    40
3902    40
3646    40
3518    40
5501    40
3390    40
5373    40
5309    40
3198    40
5245    40
7292    40
3134    40
3070    40
5117    40
2046    40
4031    40
6076    40
2431    40
6461    40
4412    40
2303    40
6397    40
6333    40
2175    40
4220    40
2111    40
4156    40
2045    40
6015    40
3900    40
3644    40
5631    40
3580    40
6525    40
2559    40
6012    40
2623    40
3903    40
3775    40
3711    40
3391    40
5372    40
5308    40
3199    40
5244    40
3135    40
3071    40
5116    40
5052    40
2879    40
830     40
4860    40
2810    40
2618    40
2294    40
5114    40
3385    40
3321    40
7291    40
5242    40
3193    40
3129    40
7163    40
3065    40
2489    40
5050    40
2873    40
4858    40
2809    40
2745    40
4730    40
2681    40
5434    40
3641    40
5690    40
3705    40
2360    40
4347    40
6394    40
2296    40
6330    40
2232    40
4219    40
2168    40
4155    40
2104    40
2040    40
6074    40
4025    40
6010    40
3833    40
2617    40
2425    40
4601    40
2806    40
3190    40
5237    40
3126    40
5173    40
5109    40
5045    40
2870    40
4725    40
4410    40
2614    40
2550    40
2486    40
2422    40
6516    40
2358    40
4405    40
5301    40
3254    40
3318    40
3446    40
2361    40
6395    40
4346    40
2297    40
2233    40
4218    40
4154    40
2105    40
2039    40
4022    40
6069    40
3958    40
6005    40
3766    40
3638    40
4411    40
2424    40
6522    40
3003    40
3387    40
5304    40
3195    40
5240    40
3131    40
3067    40
5112    40
5048    40
2488    40
2875    40
4856    40
2747    40
4728    40
2619    40
6713    40
2555    40
3451    40
5560    40
3515    40
3579    40
2490    40
2426    40
2298    40
6392    40
2234    40
6328    40
2170    40
4217    40
2106    40
4153    40

In [21]:
#Drop all duplicates, keeping only those with a relevant SES score
df_ses = df_data_2.drop_duplicates(subset = ['Postal Area Code'], keep = 'first')
df_ses.head()

,POA,Postal Area Code,INDEX_TYPE,Index type,MEASURE,Measure,TIME,Time,Value,Flag Codes,Flags
0,800,800,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1072.0,NaN,NaN
1,810,810,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1037.0,NaN,NaN
2,812,812,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1019.0,NaN,NaN
3,820,820,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,1076.0,NaN,NaN
4,822,822,IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,2011,2011,702.0,NaN,NaN

In [22]:
#Keep only the relevant columns of postcode and SES score, renaming the columns appropriately
df_ses = df_ses[['Postal Area Code','Value']]
df_ses = df_ses.rename(columns = {"Postal Area Code":"postcode","Value":"ses_score"})
df_ses.head(10)

   postcode  ses_score
0       800     1072.0
1       810     1037.0
2       812     1019.0
3       820     1076.0
4       822      702.0
5       828      972.0
6       829      948.0
7       830      996.0
8       832     1076.0
9       835     1054.0

In [23]:
# Merging SES data with main dataframe
df_melbsesenrol = pd.merge(df_melbenrol, df_ses, how='outer')
df_melbsesenrol.head(10)

,postcode,suburb,lat,lon,enrolments,ses_score
0,3000,MELBOURNE,-37.814563,144.970267,0.0,1030.0
1,3001,MELBOURNE,-38.365017,144.765920,0.0,NaN
2,3002,EAST MELBOURNE,-37.816640,144.987811,0.0,1126.0
3,3003,WEST MELBOURNE,-37.806255,144.941123,0.0,1088.0
4,3004,MELBOURNE,-37.837324,144.976335,1044.0,1116.0
5,3005,WORLD TRADE CENTRE,-37.822262,144.954856,0.0,1104.0
6,3006,SOUTHBANK,-37.823258,144.965926,861.0,1110.0
7,3008,DOCKLANDS,-37.814719,144.948039,0.0,1115.0
8,3010,UNIVERSITY OF MELBOURNE,-37.796152,144.961351,0.0,NaN
9,3011,"FOOTSCRAY, SEDDON, SEDDON WEST",-37.801199,144.887090,501.0,980.0

In [24]:
#Filter for only the postcodes of Metropolitan Melbourne
df_melbsesenrol = df_melbsesenrol.loc[((df_melbsesenrol['postcode'] >= 3000) & (df_melbsesenrol['postcode'] <= 3207))|((df_melbsesenrol['postcode'] >= 8000) & (df_melbsesenrol['postcode'] <= 8873))]
df_melbsesenrol.head()

   postcode          suburb        lat         lon  enrolments  ses_score
0      3000       MELBOURNE -37.814563  144.970267         0.0     1030.0
1      3001       MELBOURNE -38.365017  144.765920         0.0        NaN
2      3002  EAST MELBOURNE -37.816640  144.987811         0.0     1126.0
3      3003  WEST MELBOURNE -37.806255  144.941123         0.0     1088.0
4      3004       MELBOURNE -37.837324  144.976335      1044.0     1116.0

In [25]:
#Display any NaN rows
df_melbsesenrol[df_melbsesenrol.isnull().any(axis=1)]

,postcode,suburb,lat,lon,enrolments,ses_score
1,3001,MELBOURNE,-38.365017,144.765920,0.0,NaN
8,3010,UNIVERSITY OF MELBOURNE,-37.796152,144.961351,0.0,NaN
45,3050,ROYAL MELBOURNE HOSPITAL,-37.798631,144.955627,0.0,NaN
57,3062,SOMERTON,-37.642563,144.944259,1924.0,NaN
78,3086,LA TROBE UNIVERSITY,-37.721328,145.047012,0.0,NaN
146,3164,DANDENONG SOUTH,-38.022430,145.237380,0.0,NaN
188,8001,MELBOURNE,-38.365017,144.765920,0.0,NaN
189,8002,EAST MELBOURNE,-38.105449,145.147855,0.0,NaN
190,8004,ST KILDA ROAD,-37.836219,144.975549,0.0,NaN
191,8005,WORLD TRADE CENTRE,-37.822262,144.954856,0.0,NaN
192,8006,ABECKETT STREET,-37.809696,144.959314,0.0,NaN
193,8009,FLINDERS LANE,-37.817201,144.964531,0.0,NaN
194,8010,LAW COURTS,-38.185857,146.293728,0.0,NaN
195,8011,LITTLE LONSDALE STREET,-37.811301,144.961819,0.0,NaN
196,8045,MELBOURNE,-38.365017,144.765920,0.0,NaN
197,8051,MELBOURNE,-38.365017,144.765920,0.0,NaN
198,8060,MELBOURNE,-38.365017,144.765920,0.0,NaN
199,8061,MELBOURNE,-38.365017,144.765920,0.0,NaN
200,8066,MELBOURNE,-38.365017,144.765920,0.0,NaN
201,8069,MELBOURNE,-38.365017,144.765920,0.0,NaN
202,8070,MELBOURNE,-38.365017,144.765920,0.0,NaN
203,8071,MELBOURNE,-38.365017,144.765920,0.0,NaN
204,8102,MELBOURNE,-38.365017,144.765920,0.0,NaN
205,8103,MELBOURNE,-38.365017,144.765920,0.0,NaN
206,8107,MELBOURNE,-38.365017,144.765920,0.0,NaN
207,8108,MELBOURNE,-38.365017,144.765920,0.0,NaN
208,8111,MELBOURNE,-38.365017,144.765920,0.0,NaN
209,8120,MELBOURNE,-38.365017,144.765920,0.0,NaN
210,8205,MELBOURNE,-38.365017,144.765920,0.0,NaN
211,8383,MELBOURNE,-38.365017,144.765920,0.0,NaN
212,8386,MELBOURNE,-38.365017,144.765920,0.0,NaN
213,8388,MELBOURNE,-38.365017,144.765920,0.0,NaN
214,8390,MELBOURNE,-38.365017,144.765920,0.0,NaN
215,8393,MELBOURNE,-38.365017,144.765920,0.0,NaN
216,8394,MELBOURNE,-38.365017,144.765920,0.0,NaN
217,8396,MELBOURNE,-38.365017,144.765920,0.0,NaN
218,8399,MELBOURNE,-38.365017,144.765920,0.0,NaN
219,8500,NORTH MELBOURNE,-37.905996,145.056254,0.0,NaN
220,8507,CARLTON,-37.960325,145.215601,0.0,NaN
221,8538,BRUNSWICK,-37.794105,144.979191,0.0,NaN
222,8557,FITZROY,-37.859514,144.977808,0.0,NaN
223,8576,IVANHOE,-37.764016,145.044798,0.0,NaN
224,8622,HAWTHORN,-37.889860,145.021417,0.0,NaN
225,8626,CAMBERWELL,-37.836011,145.062173,0.0,NaN
226,8627,CAMBERWELL,-37.836011,145.062173,0.0,NaN
227,8785,DANDENONG,-37.893104,145.088205,0.0,NaN
228,8865,SOUTH MELBOURNE,-37.932910,145.033718,0.0,NaN
229,8873,PORT MELBOURNE,-37.846333,144.885746,0.0,NaN

In [26]:
#Find SEIFA scores for the postcodes near 3062
border = ['CRAIGIEBURN', 'ROXBURGH PARK', 'MEADOW HEIGHTS', 'COOLAROO', 'CAMPBELLFIELD', 'LALOR', 'EPPING']
SEIFA = []
suburbs_found = []

for b in border:
    SEIFA.append(df_melbsesenrol[df_melbsesenrol['suburb'].str.contains(b)].iloc[0,5])
    suburbs_found.append(df_melbsesenrol[df_melbsesenrol['suburb'].str.contains(b)].iloc[0,1])

In [27]:
#Display the array of SEIFA scores
SEIFA

[965.0, 965.0, 834.0, 834.0, 827.0, 885.0, 974.0]

In [28]:
#Display all of the suburbs collected from the exercise
suburbs_found

['CRAIGIEBURN, DONNYBROOK, KALKALLO, MICKLEHAM, ROXBURGH PARK',
 'CRAIGIEBURN, DONNYBROOK, KALKALLO, MICKLEHAM, ROXBURGH PARK',
 'COOLAROO, MEADOW HEIGHTS',
 'COOLAROO, MEADOW HEIGHTS',
 'CAMPBELLFIELD',
 'LALOR, LALOR PLAZA',
 'EPPING']

In [29]:
#Calculate the average SEIFA score only for unique postcodes and then update postcode 3062 with that value
average = (965+834+827+885+974)/5
df_melbsesenrol.loc[df_melbsesenrol.postcode == 3062, 'ses_score'] = average

#Then check for NaNs to see that it is resolved
df_melbsesenrol[df_melbsesenrol.isnull().any(axis=1)]

,postcode,suburb,lat,lon,enrolments,ses_score
1,3001,MELBOURNE,-38.365017,144.765920,0.0,NaN
8,3010,UNIVERSITY OF MELBOURNE,-37.796152,144.961351,0.0,NaN
45,3050,ROYAL MELBOURNE HOSPITAL,-37.798631,144.955627,0.0,NaN
78,3086,LA TROBE UNIVERSITY,-37.721328,145.047012,0.0,NaN
146,3164,DANDENONG SOUTH,-38.022430,145.237380,0.0,NaN
188,8001,MELBOURNE,-38.365017,144.765920,0.0,NaN
189,8002,EAST MELBOURNE,-38.105449,145.147855,0.0,NaN
190,8004,ST KILDA ROAD,-37.836219,144.975549,0.0,NaN
191,8005,WORLD TRADE CENTRE,-37.822262,144.954856,0.0,NaN
192,8006,ABECKETT STREET,-37.809696,144.959314,0.0,NaN
193,8009,FLINDERS LANE,-37.817201,144.964531,0.0,NaN
194,8010,LAW COURTS,-38.185857,146.293728,0.0,NaN
195,8011,LITTLE LONSDALE STREET,-37.811301,144.961819,0.0,NaN
196,8045,MELBOURNE,-38.365017,144.765920,0.0,NaN
197,8051,MELBOURNE,-38.365017,144.765920,0.0,NaN
198,8060,MELBOURNE,-38.365017,144.765920,0.0,NaN
199,8061,MELBOURNE,-38.365017,144.765920,0.0,NaN
200,8066,MELBOURNE,-38.365017,144.765920,0.0,NaN
201,8069,MELBOURNE,-38.365017,144.765920,0.0,NaN
202,8070,MELBOURNE,-38.365017,144.765920,0.0,NaN
203,8071,MELBOURNE,-38.365017,144.765920,0.0,NaN
204,8102,MELBOURNE,-38.365017,144.765920,0.0,NaN
205,8103,MELBOURNE,-38.365017,144.765920,0.0,NaN
206,8107,MELBOURNE,-38.365017,144.765920,0.0,NaN
207,8108,MELBOURNE,-38.365017,144.765920,0.0,NaN
208,8111,MELBOURNE,-38.365017,144.765920,0.0,NaN
209,8120,MELBOURNE,-38.365017,144.765920,0.0,NaN
210,8205,MELBOURNE,-38.365017,144.765920,0.0,NaN
211,8383,MELBOURNE,-38.365017,144.765920,0.0,NaN
212,8386,MELBOURNE,-38.365017,144.765920,0.0,NaN
213,8388,MELBOURNE,-38.365017,144.765920,0.0,NaN
214,8390,MELBOURNE,-38.365017,144.765920,0.0,NaN
215,8393,MELBOURNE,-38.365017,144.765920,0.0,NaN
216,8394,MELBOURNE,-38.365017,144.765920,0.0,NaN
217,8396,MELBOURNE,-38.365017,144.765920,0.0,NaN
218,8399,MELBOURNE,-38.365017,144.765920,0.0,NaN
219,8500,NORTH MELBOURNE,-37.905996,145.056254,0.0,NaN
220,8507,CARLTON,-37.960325,145.215601,0.0,NaN
221,8538,BRUNSWICK,-37.794105,144.979191,0.0,NaN
222,8557,FITZROY,-37.859514,144.977808,0.0,NaN
223,8576,IVANHOE,-37.764016,145.044798,0.0,NaN
224,8622,HAWTHORN,-37.889860,145.021417,0.0,NaN
225,8626,CAMBERWELL,-37.836011,145.062173,0.0,NaN
226,8627,CAMBERWELL,-37.836011,145.062173,0.0,NaN
227,8785,DANDENONG,-37.893104,145.088205,0.0,NaN
228,8865,SOUTH MELBOURNE,-37.932910,145.033718,0.0,NaN
229,8873,PORT MELBOURNE,-37.846333,144.885746,0.0,NaN

In [30]:
#Drop the rest of the NaN values
df_melbsesenrol = df_melbsesenrol.dropna()
df_melbsesenrol.head()

   postcode              suburb        lat         lon  enrolments  ses_score
0      3000           MELBOURNE -37.814563  144.970267         0.0     1030.0
2      3002      EAST MELBOURNE -37.816640  144.987811         0.0     1126.0
3      3003      WEST MELBOURNE -37.806255  144.941123         0.0     1088.0
4      3004           MELBOURNE -37.837324  144.976335      1044.0     1116.0
5      3005  WORLD TRADE CENTRE -37.822262  144.954856         0.0     1104.0

### FOURSQUARE TUITION VENUE DATA WRANGLING

In [31]:
# The code was removed by Watson Studio for sharing.

In [49]:
search_query = 'VCE'
def getNearbyVenues(names, latitudes, longitudes, radius=2000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):    
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        lat, 
        lng,
        ACCESS_TOKEN, 
        VERSION, 
        search_query, 
        radius, 
        LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]["venues"]
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['name'],
            v['location']['lat'], 
            v['location']['lng'],  
            ) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood_Latitude', 
                  'Neighbourhood_Longitude', 
                  'Venue',
                  'Venue_Latitude',
                  'Venue_Longitude']
    
    return(nearby_venues)

In [50]:
melb_venues = getNearbyVenues(names=df_melbsesenrol['suburb'],
                                   latitudes=df_melbsesenrol['lat'],
                                   longitudes=df_melbsesenrol['lon']
                                   )
melb_venues.head()

,Neighbourhood,Neighbourhood_Latitude,Neighbourhood_Longitude,Venue,Venue_Latitude,Venue_Longitude
0,MELBOURNE,-37.814563,144.970267,VCE Centre,-37.815353,144.963237
1,MELBOURNE,-37.814563,144.970267,VCE Tuition Centre,-37.815460,144.963280
2,MELBOURNE,-37.814563,144.970267,vce tuition centre,-37.813533,144.960043
3,MELBOURNE,-37.814563,144.970267,TSSM - Creating VCE Success,-37.819600,144.957599
4,MELBOURNE,-37.814563,144.970267,Gedu 环球教育,-37.814615,144.960591

In [51]:
# The code was removed by Watson Studio for sharing.

{'file_name': 'melb_venues_vce.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'applieddatasciencecapstone-donotdelete-pr-iro9kxis5xquju',
 'asset_id': 'debf4748-013a-4f62-a334-564735256dab'}

In [36]:
# The code was removed by Watson Studio for sharing.

,Neighbourhood,Neighbourhood_Latitude,Neighbourhood_Longitude,Venue,Venue_Latitude,Venue_Longitude
0,MELBOURNE,-37.814563,144.970267,VCE Tuition Centre,-37.815460,144.963280
1,MELBOURNE,-37.814563,144.970267,Alchemy Tuition,-37.812680,144.962730
2,MELBOURNE,-37.814563,144.970267,RL TUITION,-37.812298,144.961493
3,MELBOURNE,-37.814563,144.970267,vce tuition centre,-37.813533,144.960043
4,EAST MELBOURNE,-37.816640,144.987811,VCE Tuition Centre,-37.815460,144.963280

In [37]:
# The code was removed by Watson Studio for sharing.

,Neighbourhood,Neighbourhood_Latitude,Neighbourhood_Longitude,Venue,Venue_Latitude,Venue_Longitude
0,MELBOURNE,-37.814563,144.970267,ESL Tutoring,-37.813149,144.962942
1,MELBOURNE,-37.814563,144.970267,Captivate Tutoring,-37.818294,144.956676
2,EAST MELBOURNE,-37.816640,144.987811,ESL Tutoring,-37.813149,144.962942
3,WEST MELBOURNE,-37.806255,144.941123,ESL Tutoring,-37.813149,144.962942
4,WEST MELBOURNE,-37.806255,144.941123,Captivate Tutoring,-37.818294,144.956676

In [53]:
# The code was removed by Watson Studio for sharing.

,Neighbourhood,Neighbourhood_Latitude,Neighbourhood_Longitude,Venue,Venue_Latitude,Venue_Longitude
0,MELBOURNE,-37.814563,144.970267,VCE Centre,-37.815353,144.963237
1,MELBOURNE,-37.814563,144.970267,VCE Tuition Centre,-37.815460,144.963280
2,MELBOURNE,-37.814563,144.970267,vce tuition centre,-37.813533,144.960043
3,MELBOURNE,-37.814563,144.970267,TSSM - Creating VCE Success,-37.819600,144.957599
4,MELBOURNE,-37.814563,144.970267,Gedu 环球教育,-37.814615,144.960591

In [54]:
melb_allvenues = pd.concat([df_venues_tuition,df_venues_tutoring,df_venues_vce])
melb_allvenues.shape

(145, 6)

In [55]:
melb_allvenues = melb_allvenues.drop_duplicates(subset=['Venue','Venue_Latitude','Venue_Longitude'])
melb_allvenues.shape

(33, 6)

In [56]:
def haversine_np(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat / 2.0) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0) ** 2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [58]:
venue_numbers = []
for postcode in df_melbsesenrol.itertuples():
    venues = 0
    for venue in melb_allvenues.itertuples():
        if (haversine_np(venue.Venue_Longitude,venue.Venue_Latitude,postcode.lon,postcode.lat) < 5):
            venues = venues+1
    venue_numbers.append(venues)

In [59]:
df_melbdata = df_melbsesenrol
df_melbdata['tuition_venues'] = venue_numbers
df_melbdata.head(50)

,postcode,suburb,lat,lon,enrolments,ses_score,tuition_venues
0,3000,MELBOURNE,-37.814563,144.970267,0.0,1030.0,11
2,3002,EAST MELBOURNE,-37.816640,144.987811,0.0,1126.0,11
3,3003,WEST MELBOURNE,-37.806255,144.941123,0.0,1088.0,10
4,3004,MELBOURNE,-37.837324,144.976335,1044.0,1116.0,11
5,3005,WORLD TRADE CENTRE,-37.822262,144.954856,0.0,1104.0,10
6,3006,SOUTHBANK,-37.823258,144.965926,861.0,1110.0,11
7,3008,DOCKLANDS,-37.814719,144.948039,0.0,1115.0,10
9,3011,"FOOTSCRAY, SEDDON, SEDDON WEST",-37.801199,144.887090,501.0,980.0,2
10,3012,"BROOKLYN, KINGSVILLE, KINGSVILLE WEST, MAIDSTO...",-37.800197,144.867860,1952.0,973.0,3
11,3013,"YARRAVILLE, YARRAVILLE WEST",-37.817099,144.886678,2217.0,1054.0,2
12,3015,"NEWPORT, SOUTH KINGSVILLE, SPOTSWOOD",-37.835258,144.879655,1413.0,1058.0,0
13,3016,"WILLIAMSTOWN, WILLIAMSTOWN NORTH",-37.857292,144.892369,2872.0,1073.0,0
14,3018,"ALTONA, SEAHOLME",-37.868634,144.836948,958.0,1009.0,0
15,3019,"BRAYBROOK, BRAYBROOK NORTH, ROBINSON",-37.819588,144.930285,1844.0,839.0,10
16,3020,"ALBION, GLENGALA, SUNSHINE NORTH, SUNSHINE WEST",-37.783259,144.819402,3355.0,888.0,2
17,3021,"ALBANVALE, KEALBA, KINGS PARK, ST ALBANS",-37.741901,144.794111,6025.0,867.0,2
18,3022,"ARDEER, DEER PARK EAST",-37.761868,144.799442,157.0,881.0,2
19,3023,"BURNSIDE, BURNSIDE HEIGHTS, CAIRNLEA, CAROLINE...",-37.758431,144.754363,8201.0,993.0,1
20,3024,"MAMBOURIN, MOUNT COTTRELL, WYNDHAM VALE",-37.852225,144.598507,1010.0,983.0,0
21,3025,"ALTONA EAST, ALTONA GATE, ALTONA NORTH",-37.834611,144.850996,1294.0,913.0,1
22,3026,LAVERTON NORTH,-37.841653,144.795959,0.0,685.0,0
23,3027,LAVERTON RAAF,-37.859941,144.760517,0.0,1074.0,0
24,3028,"ALTONA MEADOWS, LAVERTON, SEABROOK",-37.872066,144.765867,2988.0,962.0,0
25,3029,"HOPPERS CROSSING, TARNEIT, TRUGANINA",-37.843793,144.714040,11247.0,997.0,0
26,3030,"COCOROC, DERRIMUT, POINT COOK, QUANDONG, WERRI...",-37.887926,144.662583,19826.0,1022.0,0
27,3031,"FLEMINGTON, KENSINGTON",-37.791354,144.930344,1635.0,986.0,13
28,3032,"ASCOT VALE, HIGHPOINT CITY, MARIBYRNONG, TRAVA...",-37.774776,144.907050,1999.0,1036.0,4
29,3033,KEILOR EAST,-37.736264,144.796336,458.0,1019.0,1
30,3034,AVONDALE HEIGHTS,-37.742284,144.815150,456.0,992.0,2
31,3036,"KEILOR, KEILOR NORTH",-37.711868,144.824197,486.0,1074.0,1
32,3037,"DELAHEY, HILLSIDE, SYDENHAM, TAYLORS HILL",-37.704359,144.762975,4777.0,1012.0,0
33,3038,"KEILOR DOWNS, KEILOR LODGE, TAYLORS LAKES, WAT...",-37.704801,144.793404,4197.0,1022.0,1
34,3039,MOONEE PONDS,-37.765707,144.919163,832.0,1065.0,3
35,3040,"ABERFELDIE, ESSENDON, ESSENDON WEST",-37.755155,144.900646,1890.0,1074.0,3
36,3041,"ESSENDON NORTH, STRATHMORE, STRATHMORE HEIGHTS",-37.732309,144.908866,3590.0,1075.0,2
37,3042,"AIRPORT WEST, KEILOR PARK, NIDDRIE",-37.724126,144.875494,1451.0,1009.0,2
38,3043,"GLADSTONE PARK, GOWANBRAE, TULLAMARINE",-37.693829,144.887070,2812.0,981.0,0
39,3044,"PASCOE VALE, PASCOE VALE SOUTH",-37.733383,144.942422,3195.0,1018.0,2
40,3045,MELBOURNE AIRPORT,-37.668873,144.833931,0.0,1047.0,0
41,3046,"GLENROY, HADFIELD, OAK PARK",-37.709996,144.924679,1780.0,949.0,0
42,3047,"BROADMEADOWS, DALLAS, JACANA",-37.681475,144.922626,3589.0,805.0,0
43,3048,"COOLAROO, MEADOW HEIGHTS",-37.650835,144.926285,769.0,834.0,0
44,3049,"ATTWOOD, CALDER PARK, WESTMEADOWS",-37.680571,144.847349,493.0,1008.0,0
46,3051,NORTH MELBOURNE,-37.905996,145.056254,891.0,990.0,1
47,3052,"MELBOURNE UNIVERSITY, PARKVILLE",-37.792341,144.954541,1662.0,1078.0,10
48,3053,"CARLTON, CARLTON SOUTH",-37.781662,144.986174,588.0,980.0,10
49,3054,"CARLTON NORTH, PRINCES HILL",-37.782666,144.966269,1544.0,1090.0,10
50,3055,"BRUNSWICK SOUTH, BRUNSWICK WEST, MOONEE VALE, ...",-37.753090,144.945809,1419.0,1026.0,2
51,3056,"BRUNSWICK, BRUNSWICK LOWER, BRUNSWICK NORTH",-37.761539,144.955813,1107.0,1047.0,2
52,3057,BRUNSWICK EAST,-37.764910,144.979567,771.0,1060.0,0